* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  font-style: normal;
  margin: auto;
}

a {
  display: flex;
  align-items: center;
  color: #101828;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
}

.App {
  margin: 4rem 9rem 0 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#avatar__share__button__desktop {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 308px;
  top: 45px;
}

#avatar__share__button__mobile {
  display: none;
}

#twitter {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #101828;
  margin: 1rem 0 2rem 0;
}

#slack {
  width: 24px;
  height: 23.45px;
}

.Hidden {
  display: none;
}

.Links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.Link {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #eaecf0;
  padding: 24px 0;
  width: 100%;
  height: 76px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 7rem;
  gap: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eaecf0;
  margin: 5rem 7rem 2rem 7rem;
  padding-top: 1rem;
}

.footer p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #667085;
}

#error__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 15rem;
}

.HeadingAndSupportingText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.name__row {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.first__name,
.last__name,
.email__row,
.textarea__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}

#btn__submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 12px 20px;
  width: 100%;
  background: #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  border: none;
}

@media screen and (max-width: 768px) {
  .App {
    margin: 4rem 1rem 0 1rem;
  }
  #avatar__share__button__desktop {
    display: none;
  }
  #avatar__share__button__mobile {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border: 1px dashed #d0d5dd;
    border-radius: 20px;
    right: 1rem;
    top: 45px;
    bottom: 15%;
    padding: 4px;
  }
  .socials {
    margin: 2rem 1rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5rem 1rem 2rem 1rem;
    padding-top: 2rem;
  }
  .footer p {
    margin: 1rem 0;
  }
}
